<!DOCTYPE html>
<html>
<head>
  <title>Testmol</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "left"><%= sortable_tree Category.all, :path => 'categories/tree/base', :new_url => new_category_path, :max_levels => 4 %></div>
<div class="index">
	<%= yield %>
</div>

<script type="text/javascript">
	$(function() {
		$("li a[title='<%= @category.try(:title) %>']").css("color", "red");
	});
</script>
</body>
</html>
